

:root {
    --text-dark: #000000F0;
    --text-background: #FFFFFF;
    --front-dark: black;
    --background-dark: #C0C0C0;
    --background-light: #F0F0F0;
}

body {
    color: var(--front-dark);
    overflow-x: hidden;
    /* Strangely enough, Brave/Chrome(?) do not process font-family style if it's between quotes */
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1em;
    align-items: center;
}
                
body.freeze {   /* freeze body when showing popup modals */
    overflow: hidden;
    pointer-events: none;
}

*, *::after, *::before {
box-sizing: border-box;
}















