
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Work+Sans:wght@400;600&display=swap');
/* material icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --text-dark: #000000F0;
    --text-background: #FFFFFF;
    --front-dark: black;
    --background-dark: #C0C0C0;
    --background-light: #F0F0F0;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    color: var(--front-dark);
    overflow-x: hidden;
    font-family: 'Roboto, sans-serif';
}












