
/* material icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --front-dark: black;
    --background-dark: #C0C0C0;
    --background-light: #F0F0F0;
}

.mng-round-btn {
    color: var(--front-dark);
    opacity: .8;
    cursor: pointer;
}
.mng-round-btn:hover {
    opacity: 1;
}
.mng-btn-disk {
    background-color: var(--background-dark);
    border-radius: 50%;
}

.mng-toolbar .mng-btn-right {
    position: absolute;
    right: .25em;
    top: .25em;
}

.mng-toolbar .mng-accordeon-container {
    background-color: var(--background-light);
    color: var(--front-dark);
    margin-top: .5em;
    display: none;
}
.mng-accordeon-expanded {
    display: block!important;
}

.mng-toolbar {
    background-color: var(--front-dark);
    color: var(--background-light);
    position: relative;
    padding: .5em 0 .5em;
    min-width: 10em;
    display: inline-block;
    border-radius: .4em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.mng-listview {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mng-listview li:not(:last-child) {
    border-bottom: 1px solid var(--background-dark);
}
























